body{
    background-image: url(./img/fond-connexion.jpg);
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered */
.acc{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    contain: content;
    margin-top: 100px;
    
}
.acc:hover {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.24);
    contain: content;
    margin-top: 100px;
    transition: all 0.5s ease;
}

/* ------------------------------------------------------------------------------------------------- */

/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}
form:hover {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    transition: all 0.5s ease;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-right: 20px;
}



/* Full-width inputs */
input[type=text], input[type=password] ,input[type=email], input[type=tel], input[type=number], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit], input[type=reset], button {
    background-color: #560468;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover, input[type=reset]:hover, button {
    background-color: white;
    color: #560468;
    border: 1px solid #560468;
    transition: all 0.5s ease;
}

.text-purple{
    color:#560468 ;
    text-align: center;
}



